@import '../principal/padrão.scss';

body::-webkit-scrollbar {
    /*Largura da barra lateral*/
    width: 10px;
}

::-webkit-scrollbar-track {
    background: $verde;
    /* Cor de fundo da trilha */
}

::-webkit-scrollbar-thumb {
    background: $branco;
    /* Cor do thumb */
    border-radius: 25px;
    /* Borda arredondada */
}

#txt_conteúdo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $branco;
    color: $verdeEscuro;
    padding: 20px 0px;

    h1 {
        font-family: $Staaliches;
        font-size: 8vw;
        font-weight: bold;

        /* Efeito de brilho e aumento ao passar o mouse */
        transition: all 0.3s ease;
        /* Transição suave para as propriedades */

        &:hover {

            transform: scale(1.05);
            /* Aumenta ligeiramente o tamanho */
        }
    }

    hr {
        width: 90%;
        height: 5px;
        background-color: $verdeEscuro;
        margin: 10px;
    }

    p {
        font-size: 2vw;
        font-family: $Ubuntu;
        text-align: center;
    }

}

.separação {
    /*Estilização da secunda div do header ./Conteudo.html line 14 */
    background-color: #233115;
    height: 20px;
    width: 100vw;
}

#conteúdo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
    font-family: $Ubuntu;

    div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        gap: 10px;

        h1 {
            font-size: 5vw;
            color: $verdeEscuro;
            text-align: center;
        }

        h2 {
            color: $verdeEscuro;
            font-size: 2vw;
            text-align: center;
        }

        hr {
            width: 95vw;
            height: 5px;
            background-color: $verde;
        }
    }

    .paragrafo {
        font-family: $Ubuntu;
        text-indent: 50px;
        font-size: 1.5vw;
    }
}

#bibliografia {
    padding: 20px;
    background-color: $branco;
    color: $verde;
    text-align: center;
    font-size: 20px;
    font-family: $Staaliches;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .cliqueaqui {
        /*Estilização do botao clique aqui de bibliografia*/
        text-decoration: none;
        color: #233115;
        font-size: 20px;
        cursor: pointer;

        /* Efeito de brilho e aumento ao passar o mouse */
        transition: all 0.3s ease;
        /* Transição suave para as propriedades */

        &:hover {
            transform: scale(1.1);
            /* Aumenta ligeiramente o tamanho */
        }

        &:active {
            transform: scale(0.95);
            /* Diminui ligeiramente o tamanho ao clicar */
        }
    }
}


@media (max-width: 950px) {
    #txt_conteúdo {
        h1 {
            font-size: 15vw;
        }

        hr {
            margin: 5px;
        }

        p {
            font-size: 5vw;
        }

    }

    #conteúdo {
        div {
            h1 {
                font-size: 7vw;
            }

            h2 {
                font-size: 5vw;
            }
        }

        .paragrafo {
            text-indent: 60px;
            font-size: 4vw;
        }
    }
}

@media (max-width: 500px) {
    #txt_conteúdo {
        h1 {
            font-size: 20vw;
        }
    }

    #conteúdo {
        padding: 20px 30px;
    }

    #bibliografia {
        padding: 10px;
        font-size: 15px;

        .cliqueaqui {
            font-size: 15px;
        }
    }
}