@import '../principal/padrão.scss';

footer{
    a{
        text-decoration: none;
        color: $verdeEscuro;
        font-family: $Staaliches;
        cursor: pointer;
    }
    color: $verde;
    font-family: $Staaliches;
    background-color: $branco;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@media (max-width: 950px){
    footer{
        p, a{
            font-size: 5vw;
        }    
    }
}